.card-user-informations {
    background-color: $color-black;
    border-radius: 16px;
    width: 350px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    .icon {
        font-size: 1em;
        color: $color-light-gray;
        cursor: pointer;

        &:hover {
            color: $color-primary;
        }
    }
    .card-top {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: space-between;

        
        .card-tittle {
            display: flex;
            align-items: center;
            gap: 0.5em;

            .icon {
                color: $color-white;
                font-size: 1.5em;
                cursor: default;
            }

            span {
                font-size: 1em;
                color: $color-white;
            }
    
        }

    }

    .user-informations {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1em;

        .icon {
            font-size: 1.5em;
            color: $color-light-gray;
        }
    }

}