/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@import "./vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: $base-font-family;
}

#root {
  z-index: 0;

  // Page Style Imports ->
  @import "./pages/dev/Registration";
  @import "./pages/Login";
  @import "./pages/Register";

  // Component Style Imports ->
  @import "./components/Input";
  @import "./components/Button";
}
