// Fonts ->
$base-font-family: 'Poppins', sans-serif; 
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular : 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// Colors -> 
// $color-primary: #7865FF;
$color-primary: #A587FA;
$color-dark-purple: #A587FA;
$color-blue: #3E50F2;
$color-black: #1F252F;
$color-dark-gray: #273140;
$color-gray: #485467;
$color-light-gray: #95A0B6;
$color-white: #F5F9FF;
$color-dark-green: #159768;
$color-green: #3CDF4D;
$color-light-green: #A8F594;
$color-orange: #F4AA1A;
$color-yellow: #F6E546;
$color-light-yellow: #EBF578;
$color-dark-red: #B92828;
$color-red: #E94949;
$color-light-red: #F17171;

$color-purple-shadow: #a687fa6d;
$color-gray-shadow: #1f252f7b;

$color-modal-wrapper-background : #0005;

// Media Query Breakpoints
$breakpoint-small : 600px;
$breakpoint-medium : 768px;
$breakpoint-laptop : 992px;
$breakpoint-desktop : 1200px;



