.login-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: $color-dark-gray;
  display: flex;
  flex-direction: column;

  header {
    position: absolute;
    text-align: center;
    height: clamp(200px, 15vh, 400px);
    width: 100vw;
    padding: 0 clamp(24px, 4vw, 80px);
    // MAGIC CODE, DO NOT TOUCH!
    background-image: url("../../../../../public/assets/images/horizontal-wave-login-bg.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;

    h1 {
      font-size: clamp(3rem, 4vw, 4rem);
    }
  }

  @media (max-width: $breakpoint-medium) {

    header {
      display: block;
      justify-content: center;
    }

    header h1 {
      margin-top: 0px;
    }

  }

  

  @media (max-width: $breakpoint-medium) {
    .menu-container {
      top: 13rem;
      

      nav ul li a {
        padding-bottom: 15px;
      }

    }


  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .login-wrapper,
    .image-container {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login-image {
      width: clamp(200px, 60%, 700px);
    }

    .Login-wrapper-none {
      display: none;
    }

    .login-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 500px;

      a {
        text-decoration: none;
        font-size: 12px;
        cursor: pointer;
        margin-top: 8px;
        margin-left: 13.5em;
        color: $color-primary;
        text-align: center;
        padding-bottom: 15px;
      }


      h2 {
        font-size: clamp(2.7rem, 4vw, 3rem);
        font-weight: $font-semibold;
        color: $color-white;
        margin-bottom: 42px;
      }

     

      button {
        width: clamp(11rem, 10vw, 15rem);
        height: 34px;
        font-weight: $font-semibold;
      }

      .container-new-user {
        margin-left: 10px;
        align-items: center;
        margin-top: 24px;
      }

      
    }

    @media (max-width: $breakpoint-medium) {
      .image-container {
        display: none;
      }

      .login-container {
        margin-top: -20px;
      }
    }

  }

  .password-container {
    width: fit-content;
    height: auto;
    display: flex;
    position: relative;
  }

}