form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .input-container {
    width: clamp(300px, 35vw, 305px);
  }
}

.terms-checkbox {
  label {
    color: $color-white;
    margin-left: 8px;
  }
}

.button-container {
  display: flex;
  gap: 0.4rem;
}

.password-container {
  width: fit-content;
  height: auto;
  display: flex;
  position: relative;
}
