.login-page {
  height: 100vh;
  width: 100vw;
  background-color: $color-dark-gray;
  display: flex;
  flex-direction: column;

    header {
        text-align: center;
        height: clamp(200px, 15vh, 400px);
        width: 100vw;
        padding: 0 clamp(24px, 4vw, 80px);
        // MAGIC CODE, DO NOT TOUCH!
        background-image: url("../../../../public/assets/images/horizontal-wave-login-bg.png");
        background-size: 100% 100%;
        display: flex;
        align-items: center;

        h1 {
            font-size: clamp(3rem, 4vw, 4rem);
        }
    }
    @media (max-width: $breakpoint-medium) {

        header{
         display: block;
         justify-content: center;
        }
        header h1 {
            margin-top: 0px;
        }
        
    }

    .menu-container{
        top: 12rem;
        display: flex;
        position: absolute;
        align-items: flex-end;
        justify-content: end;
  

        nav ul li a {
            
            font-size: clamp(0.9rem, 2vw, 1.3rem);
            cursor: pointer;
            color: $color-light-purple;
            padding: clamp(0.4rem, 1.5vw, 1.4rem);
        }

        nav ul li {
            list-style: none;
            display: inline;
        }
    }
    @media (max-width: $breakpoint-medium) {
        .menu-container{
            top: 12rem;
            margin-bottom: -20px;

            nav ul li a {
              padding-bottom: 15px;           
          }

        }
       
        
    }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .login-wrapper,
    .image-container {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .login-image {
      width: clamp(200px, 60%, 700px);
    }

    @media (max-width: $breakpoint-medium) {
      .image-container {
        display: none;
      }
      .login-container {
        margin-top: -20px;
      }
    }

  }
  
  .password-container {
    width: fit-content;
    height: auto;
    display: flex;
    position: relative;
  }

}
