.login-page {
    height: 100vh; 
    width: 100vw;   
    background-color: $color-dark-gray;
    display: flex;
    flex-direction: column;
   
  

    header{
        background-color: $color-primary;
        height: 200px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    main{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .login-wrapper,
        .image-container {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .login-image {
            width: clamp(200px, 60%, 700px);
        }

        .login-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 500px;

            a{
                text-decoration: none;
                font-size: 12px;
                cursor: pointer;
                margin-top: 8px;
                margin-bottom: 16px;
                margin-left: 13.5em;
                color: $color-primary;
                text-align: center;
                
            }
            
            a:hover {
                text-decoration: underline;   
            }
        
            h2 {
                font-size: clamp(.8rem, 4vw, 3rem);
                font-weight: $font-semibold;
                color: $color-white;
                margin-bottom: 42px;
        
            }
        
            span {
                color: $color-white;
            }

            .button-login{
                width: 10vw;
                height: 3.4vh;
                font-weight: $font-semibold;
                font-size: 18px;
            }

            .container-new-user{
              width: 400px;
              align-items: center;
             }

            .button-container{
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-top: 16px;
                justify-content: center;
                

                .login-pairing{
                    margin-left: 10px;
                    width: 82px;
                    height: 41px;
                    background-color: $color-black;
                }

            }
        
        }  

        @media screen (){
            
        }
    }

   
    
}
