.modal-container-global {
    background-color: $color-modal-wrapper-background;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .container-elements {
        width: 40vw;
        height: 900px;
        background-color: $color-dark-gray;
        border-radius: 16px;
        word-wrap: break-word;
        overflow-y: auto;

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-light-gray;
            border-radius: 8px;
        }


        .elements {
            padding: 20px;

            .title-project {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1 {
                    color: $color-primary;
                    margin-bottom: 24px;
                }

                .icon {
                    font-size: 32px;
                    color: $color-white;
                    margin-bottom: 15px;
                    cursor: pointer;
                }
            }

            .container-image {
                margin-bottom: 16px;
                height: 280px;
                border-bottom: solid 2px;
                border-color: $color-gray;
                padding-bottom: 40px;

                .attachment-list {
                    width: 100%;
                    height: 250px;
                    
                    .container-image-not-selected {
                        width: 100%;
                        height: 100%;
                        background-color: $color-gray;
                        border-radius: 8px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;


                        .container-input-file {
                            width: 50px;
                            height: 50px;
                            background-color: $color-primary;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;

                            #input-file {
                                display: none;
                            }

                            .icon {
                                font-size: clamp(1.5rem, 4vw, 2.5rem);
                                color: $color-white;
                                cursor: pointer;
                                transition: color .25s ease-out;
                                margin-left: 3px;


                            }
                        }
                    }

                    img {
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }

                }



            }

            .container-data-filling {
                display: flex;
                flex-direction: column;
                word-wrap: break-word;

                .input-container {
                    width: 100%;
                }

                .data-github {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    align-items: center;

                    textarea {
                        height: 100px;
                    }

                    .select-container {
                        width: 100%;
                    }

                    .input-container {
                        width: 70%;
                    }

                    span {
                        color: $color-light-gray;
                        margin-top: -10px;
                        width: 150px;
                        margin-left: 10px;
                    }

                    .toggle-button {
                        margin-top: -10px;

                        #chk {
                            display: none;
                        }

                        .switch {
                            position: relative;
                            background-color: $color-light-gray;
                            width: 45px;
                            height: 20px;
                            border-radius: 40px;
                            display: flex;
                            align-items: center;
                            padding: 10px;
                            transition: all .5s ease-in-out;
                            cursor: pointer;

                        }

                        .slider {
                            margin-top: 0px;
                            position: absolute;
                            background-color: $color-white;
                            border-radius: 50%;
                            width: 23px;
                            margin-left: -10px;
                            margin-right: -10px;
                            height: 23px;
                            transition: all .3s ease-in-out;
                        }

                        #chk:checked~.switch .slider {
                            transform: translateX(26px);
                        }
                    }
                }

                .container-participants-github {
                    display: flex;
                    margin-top: 8px;
                    justify-content: space-around;

                    .input-container {
                        width: 100%;
                    }

                    .btn-primary {
                        width: 50px;
                        height: 43px;
                    }

                }

                .container-search-users-github {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 30px;
                    

                    .search-users-github {
                        width: 700px;
                        background-color: $color-black;
                        border-radius: 8px;
                        height: auto;
                        border: solid 2px;
                        border-color: $color-gray;

                        .container-scroll-member-project {
                            overflow-y: auto;
                            width: 100%;
                            height: 90px;
                            padding-right: 16px;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            padding-bottom: 16px;

                            &::-webkit-scrollbar {
                                background-color: transparent;
                                width: 8px;
                            }

                            &::-webkit-scrollbar-thumb {
                                background-color: $color-light-gray;
                                border-radius: 8px;
                            }

                            .conatiner-users-github {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-left: 10px;

                                .users-github {
                                    margin-top: 24px;
                                    width: 100%;
                                    cursor: pointer;

                                    .users {
                                        display: flex;
                                        gap: 16px;

                                        img {
                                            width: 40px;
                                            height: 40px;
                                            background-color: $color-white;
                                            border-radius: 50%;
                                        }

                                        .container-information-users-github {
                                            .user-name {
                                                span {
                                                    font-size: 16px;
                                                    color: $color-white;
                                                }
                                            }

                                            .user-github {
                                                span {
                                                    font-size: 14px;
                                                    color: $color-light-gray;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }

                }
                
                .container-scroll-participants-project {
                    border-top: solid 2px;
                    border-color: $color-gray;
                    overflow-y: auto;
                    width: 100%;
                    height: 160px;
                    padding-right: 16px;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    

                    &::-webkit-scrollbar {
                        background-color: transparent;
                        width: 8px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: $color-light-gray;
                        border-radius: 8px;
                    }

                    
                        .conatiner-participants-project {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
    
                            .participants-project {
                                margin-top: 24px;
    
                                .participants {
                                    display: flex;
                                    gap: 16px;
    
                                    .image {
                                        img {
                                            width: 48px;
                                            height: 48px;
                                            border-radius: 50%;
                                        }
                                    }
    
                                    .container-information-participants {
                                        .developer-name {
                                            span {
                                                font-size: 20px;
                                                color: $color-white;
                                            }
                                        }
    
                                        .developer-github {
                                            span {
                                                color: $color-light-gray;
                                            }
                                        }
                                    }
                                }
                            }
    
                            .icon {
                                color: $color-red;
                                cursor: pointer;
                                margin-top: 30px;
                            }
                        }
                    
                    
                }



            }

            .container-button-create-project {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                justify-content: space-evenly;


                .btn-delete {
                    color: $color-red;
                    border: 2px solid;
                    border-color: $color-red;
                    background-color: transparent;
                    width: 120px;
                }
            }

        }
    }
}