.container-text-area {
    width: 100%;

    textarea {
        width: 100%;

        padding: 12px;
        min-height: 90px;
        color: $color-white;
        resize: none;
        padding-bottom: 0;
        background-color: $color-black;
        outline: none;
        border: 2px solid $color-gray;
        border-radius: 16px;
        transition: border 0.25s ease-out;

        &:focus {
            border-color: $color-primary;
        }

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-light-gray;
            border-radius: 8px;
        }
    }
}