.new-post {
    width: 80%;
    background-color: $color-black;
    display: flex;
    padding: 1em;
    border-radius: 1em;
    justify-content: space-between;
    margin-top: 2em;
    align-items: center;

    span {
        color: $color-white;
    }
}