.dev-registration-page{
    width: 100vw;
    height: 100vh;
    background-color: $color-dark-gray;
    display: flex;

    h2 {
        font-size: 2rem;
        color: $color-white;
    }


    .registration-form-container {
        width:50%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-image: url(../../public/assets/images/wave-background.png);
        background-size: cover;
    }
    
    .dev-registration-form {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        gap: 1.5rem;
        
    }
    
    .image-container {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    img {
        max-width: 400px;
        height: auto;
    }
}

