.dev-registration-page {
  width: 100vw;
  height: 100vh;
  background-color: $color-dark-gray;
  display: flex;
  
  .registration-form-container {
    background-color: $color-light-purple;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: clamp( 2.3rem , 4vw , 3rem);
      color: $color-white;
      margin-bottom: 24px;
      font-weight: $font-semibold;
    }

  }

  .image-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../../../../../public/assets/images/wave-vertical.png");
    background-size: clamp(40px, 10vw, 320px) 100%;
    background-repeat: no-repeat;

    img {
      width: clamp(400px, 75%, 500px);
    }

  }
  @media (max-width: $breakpoint-laptop) {
    
    img{
      display: none;
    }
    .image-container{
      display: none;
    }
    .registration-form-container{
      width: 100%;
    }

  }
 
}
