.swiper {
    width: 550px;
    height: 600px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    
   
    
    img{
        object-fit: cover;
        border-radius: 8px;
    }

}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: $color-primary;
}