.input-search-container {
    position: relative;
    margin-bottom: 16px;
    height: 40px;
    width: 300px;
    padding: 0px 8px;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    
    background-color: $color-black;
  
    border: 2px solid;
    border-color: $color-gray;
    border-radius: 8px;
    border-style: solid;
  
    transition: border .25s ease-out;
  
    .icon {
      color: $color-white;
      font-size: 125%;
      order: 2;  
      transition: color .25s ease-out;
    
      width: 30px;
      margin-left: -10px;
      
    }


    .icon-input{
        order: 1;
        margin-left: 10px;
        
    }
  
    img {
      width: 20px;
      height: 20px;
  
      &hover path {
        fill: #fce57e;
      }
    }
  
    &:focus-within,
    &:hover {
      .icon {
        color: $color-primary;
      }
  
      border-color: $color-primary;
    }
  
    &.error {
      border-color: $color-red !important;
      color: $color-red !important;
  
      .icon {
        color: $color-red !important;
      }
    }
  
    input {
      outline: none;
      border: none;
      order: 1;
      color: $color-white;
      font-size: clamp(.8rem, 1.5vw, 1.0rem);
      border-right: 1px $color-gray solid;
      background-color: $color-black;
    
      height: 100%;
      width: 100%;
  
      ::placeholder {
        color: $color-gray;
      }
    }
  }
  