.feed {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  overflow-y: scroll;

  .feed-components-container {
    width: 100%;
    display: flex;
  }

  h2 {
    color: $color-primary;
  }

  &::-webkit-scrollbar {
    width: 8px;

    &:hover {
      background-color: $color-gray;
      transition-delay: 1s;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;

    &:hover {
      background-color: $color-primary;
    }
  }

  .feed-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .post-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }


  .outstanding-container {
    width: clamp(15em, 45vw, 60em);
    background-color: $color-dark-gray;

    .swiper-button-next, .swiper-button-prev {
      top: 45%
    }
    .horizontal-line{
      width: 100%;
      margin-top: 0.35rem;
      height: 0.15vh;
      background-color: $color-gray;
  
    }    
  }

  @media (max-width : $breakpoint-laptop)  {
    .outstanding-container {
      width:80%;

    }    
    .post-container {
      width: 80%;
    }    
  }

  .outstanding-users {
    width: 100%;
    display: flex;
    
    
    
    .swiper {
      width: 100%;
      height: 100px;
      padding-left: 3rem;
      padding-right: 3rem;
      
    
    }

    .swiper-button-next {
      color: $color-primary;
      
    }

    .swiper-button-prev {
      color: $color-primary;
      
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: $color-primary;
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
