.comment {
    margin-top: 16px;
    background-color: $color-dark-gray;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 0.5em 1em;
    
    span{
        text-align: end;
        color: $color-light-gray;
        cursor: pointer;
        transition: 0.4s;
        font-weight: $font-regular;

        &:hover{
            color: $color-primary;
        }
    }

    .container-user-dice {
        display: flex;
        margin-top: 8px;
        height: auto;
        word-wrap:break-word;
        width: 100%;

        p {
            font-size: 16px;
            height: auto;
        }

        span {

            font-size: 16px;
            font-weight: $font-medium;
            color: $color-primary;
            margin-left: 10px;
            margin-right: 10px;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    

    .comment-footer {
        display: flex;
        flex-direction: row;

        button {
            background-color: transparent;
            border: none;
            width: fit-content;
            height: auto;

            .icon{
                color: $color-white;

                &:hover, &#already-hearted {
                    color: $color-primary;
                }

            }
        }

        .likes {
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            color: $color-white;
        }
    }
}


.container-answer-comment{
    .container-create-comment {
       width: 380px;
       
        .create-comment{
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            span {
                font-size: 14px;
            }

            textarea {
               font-size: 14px;
               width: 230px;
    
            }
        }


       
    
    }
    
}



