.company-registration-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  
  .registration-form-container {
    width: 50%;
    background-color: $color-white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    order: 2;
    border: none;

    .terms-checkbox label{
        color: black;
    }
   
    .dev-user{
      display: flex;
      width: clamp( 29.4rem , 45vw , 35rem);
      
      h2 {
        font-size: clamp( 2.3rem , 4vw , 3rem);
        color: $color-light-purple;
        margin-bottom: 24px;
        font-weight: $font-semibold;
        margin-left: 7rem;
      }

      button{
        border: none;
        background-color: transparent;  
        width: 0px;
        .icon{
          color: $color-light-purple;
          font-size: clamp( 2.3rem , 4vw , 3rem);
          margin-top: clamp( 1.9rem , 4vw , 3rem);
          margin-right: -64px;
        }
        .icon:hover{
          cursor: pointer;
          transform: scale(1.1);
        }
      }
     
    }

    svg {
      transform: rotate(90deg);
    }
  }

  .image-container {
    width: 65%;
    height: 100%;
    display: flex;
    padding-left: 6%;
    background-color: $color-black;
    background-image: url("../../../../../../public/assets/images/horizontal-wave-white-Company.png");
    background-size: clamp(40px, 10vw, 390px) 100%;
    background-repeat: no-repeat;
    background-position: 101% -1px;
    
    img {
      width: clamp(400px, 75%, 700px);
      height: auto;
    }
  

  }
  @media (max-width: $breakpoint-laptop) {
    
    .image-container{
      display: none;
    }
    .registration-form-container{
      width: 100%;
    }

  }

  
}