.container-global{
    max-width: 100vw;
    max-height: 100vh;
    
    
    @media (max-width: $breakpoint-laptop) {
        .effect-side-bar{
            display: none;
        }
    }

    

    main {
        width: 100%;
        min-height: calc(100%-80px);
        overflow: auto;
        background-color: $color-dark-gray;
    }
}