.modal{
    width: calc(100% - 100px);
    height: calc(100% - 80px);;
    position: absolute;
    z-index: 1;
    overflow-y: hidden;
    background-color: $color-dark-gray;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    
   
        

}       
