.postcard{

    .horizontal-line{
		width: 90%;
		height: 0.15vh;
		background-color: $color-gray;
	} 

    background-color: $color-black;
    width: clamp(30rem, 30vw, 50rem);
    //height: clamp(30rem, 20vw, 50rem);
    height: auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    img{
        width: clamp(2rem, 8vw, 4rem);
        height: clamp(2rem, 8vw, 4rem);
        border-radius: 50%;
        border-width: 2px;
        border-style: solid;
        border-color: $color-primary;
    }

    

    .post-header {
        width: 90%;
        margin-top: 1em;
        display: flex;
        justify-content: space-between;

        .user-informations {
            display: flex;
            gap: 16px;
            
            .flex-vertical-container {
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
        }

        h3 {
            color: $color-primary;
            cursor: pointer;
            font-weight: $font-semibold;
        }

        .github {
            color: $color-light-gray;
        }
    
        button {
            width: clamp(6em, 5vw, 2em);
            background-color: $color-primary;
            color: $color-white;
            border: none;
        }
    }
    
   

    .post-footer {
        width: 90%;
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        justify-content: space-between;
       
        padding-top: 1px;


        .comments {
            display: flex;
            align-items: center;
            color: $color-white;
            gap: 8px;
            
    
            .icon{
                color: $color-light-gray;
            }
    
            span {
                
                cursor: pointer;
            }
        }

        .hearts {
            display: flex;
            align-items: center;
            gap: .5em;
            color: $color-light-gray;
    
            button{
                width: fit-content;
                height: auto;
                border: none;
                background-color: transparent; 
    
                .icon{
                    color: $color-light-gray;
    
                    &:hover, &#already-hearted {
                        color: $color-primary;
                    }
    
                }
            }
        }
    }

   

    .post-content {
        display: flex;
        flex-direction: column;
       
        gap: 1em;
        width: 90%;
        
        
        p {
            
            font-size: 1em;
            color: $color-white;
            overflow-wrap: break-word;
            cursor: pointer;
        }

        .post-images {
            
           
            
            .swiper {
               
                width: 100%;
                height: 100%;
                height: auto;
                display: flex;
                align-items: center;
                
               
            }
            .swiper-slide {
                width: 100%;
                height: 500px;
                border-radius: 8px;
                overflow: hidden;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }
        
            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                background-color: $color-primary;
            }
        
            .swiper-button-prev , .swiper-button-next{
                display: flex;
                color: $color-white;
                font-size: 24px;
                font-weight: $font-bold;
                position: absolute ;
                cursor: pointer;
                width: 40px;
                height: 40px;
                
                
            }
        
    
            
        }
    }
    
}
@media (max-width : $breakpoint-laptop)  {
    .postcard {
        width:100%;
    }        
}

