.container-user-profile {
    background-color: $color-dark-gray;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    .container-profile-style {
        .background-image {
            width: 60rem;
            height: 100px;
            background-color: $color-primary;
            margin-top: 52px;
            border-radius: 16px;
        }

        .container-profile-data {
            width: 300px;
            height: 400px;
            background-color: $color-black;
            border-radius: 16px;
            position: absolute;
            top: 170px;
            margin-left: 28px;
            display: flex;
            align-items: center;
            flex-direction: column;
            
            .container-image-face-user{
                width: 100px;
                height: 100px;
                background-color: $color-white;
                border-radius: 50%;
                margin: 20px;

            }

            h2{
                color: $color-white;
                font-weight: $font-regular;
            }
        }


    }
}