.profile-page {
    background-color: $color-dark-gray;
    height: 100%;
    width: 100%;
    position: relative;

    .background-image {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        img {
            width: 100%;
            aspect-ratio: 36 / 9;
            object-fit: fill;
        }

        .upload-new-image{
            position: absolute;
            #banner-input { display:  none; }
            .icon {
                font-size: clamp(1.5rem, 4vw, 2.5rem);
                color: white;

                transition: color .25s ease-out;
                
                &:hover {
                    color : $color-primary;
                }
            }
        }
    }

    .container-done-icon{
        
        .icon{
            font-size: 24px;
        }
    }

    .container-user-informations {

        position: absolute;
        width: fit-content;
        height: auto;
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        top: 16em;

        .profile-info {
            width: 350px;
            background-color: $color-black;
            border-radius: 16px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1.5em;
            padding-top: 1.5em;

            .icon {
                width: 1em;
                height: 1em;

                color: $color-light-gray;
                font-size: 20px;
                cursor: pointer;

                &:hover {
                    color: $color-primary;
                }
                
            }

            .bio-edit {
                width: 80%;
                display: flex;
                flex-direction: row-reverse;
                gap: .5em;
                word-wrap: break-word;
            }

            .auto-grow-text-area {
                width: 300px;
                textarea {
                    overflow: hidden;
                    width: 100%;
                    height: fit-content;
                    padding: 12px;
                    min-height: 48px;
                    color : white;
                    resize: none;
                    background-color: $color-dark-gray;
                    outline: none;
                    border : 2px solid $color-gray;
                    border-radius: 16px;
                    transition: border 0.25s ease-out;
                    &:focus {
                        border-color: $color-primary;
                    }
                }
            }
            .edit-info{
                align-self: flex-end;
                margin-top: 1em;
                margin-right: 1em;
                .icon{
                    font-size: 24px;
                }
            }

            .upload-new-profile-pic {

                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &:hover {

                    .upload-profile-image{
                        display: flex;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.678);

                        input {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .upload-profile-image {
                    
                    display: none;

                    input {
                        display: none;
                    }

                    .icon {
                        color: $color-primary;
                    }
                }

                .profile-pic {
                    width: 150px;
                    height: 150px;
                    background-color: $color-white;
                    border-radius: 50%;
                    border: 4px solid $color-primary;
                }
            }


            span {

                width: fit-content;
                height: auto;
                color: $color-light-gray;
                font-size: 15px;
                display: flex;

                img{
                    background-color: aliceblue;
                    
                }
            }

            h2 {
                margin-top: 16px;
                color: $color-primary;
                font-weight: $font-regular;
            }

            p {
                font-size: 16px;
                color: $color-light-gray;
                font-weight: $font-regular;
                text-align: center;
            }

            .follow-container {
                width: 15em;
                display: flex;
                justify-content: space-between;
                margin-bottom: 2em;

                .container-followers,
                .container-following {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    span {
                        color: $color-primary;
                        font-size: 24px;
                        font-weight: $font-semibold;
                        margin-bottom: 0px;
                    }

                    p {
                        width: 100px;
                        color: $color-light-gray;
                        text-align: center;
                        margin-top: 0;

                    }
                }
            }

            .follow-btn{
                width: 10em;
                height: 2em;
                margin-bottom: 1.5em;

                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $color-white;
                    border-radius: 16px;
                    font-weight: $font-medium;
                    cursor: pointer;
                }

                .icon{
                    width: 10px;

                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }

        
            
            .user-info {
                display: flex;
                width: 100%;
                align-items: center;
                gap: .5em;
    
                span {
                    word-break: break-all;
                    color: $color-light-gray;
                }
    
                .icon {
                    color: $color-light-gray; 
                }
            }
       
        

        .skill-user {
            display: flex;

            .container-skill-user {
                margin-left: 10px;
                width: 100%;
                display: flex;

                .icon{
                   font-size: 20px;
                   width: 20px;
                   height: 30px;
                   color: $color-white;
                   
                }

                .container-skill {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 20px;

                    .icon {
                        color: $color-white;
                        font-size: 32px;
                        width: 30px;
                        height: 30px;
                        cursor: pointer;     
                    }

                    span {
                        margin-top: 8px;
                        font-size: 12px;
                        color: $color-light-gray;
                    }
                }

            }
        }


        .container-links {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: -20px;
            


            .container-content-links{
                .icon{
                    color: $color-white;
                    height: 30px;
                    cursor: pointer;
                }
                .links {
                    height: 50px;
                    margin-top: -10px;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
    
                    span {
                        padding: 10px;
                        background-color: $color-primary;
                        color: $color-white;
                        border-radius: 24px;
    
                    }
                }

            }

            

        }
    }

    .profile-tabs-container {
        height: auto;
        margin-top: 2em;
        margin-left: 26rem;

        .posts-tabs {
            width: fit-content;
            display: flex;
            margin-left: 1em;
            gap: 2em;
            font-size: 1.5em;
            color: $color-white;

            h4 {
                cursor: pointer;
                font-weight: $font-regular;
                position: relative;
                color: $color-light-gray;

                &:hover, &.active {

                    color: $color-primary;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 1.5em;
                        transition: transform .25s ease;
                    
                        width: 100%;
                        height: 2px;
                        border-radius: 10px;
                        background: $color-primary;
                        transform:  scaleX(0);
                    }
                    &:hover:before {
                        transform:  scaleX(1);
                    }
                }
            }

        }

        hr {
            width: 95%;
            border-color: $color-light-gray;
            height: 2px;
        }

        .selected-tab {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .teste{
                width: 100px;
                height: 100px;
                background-color: aqua;
            }
        }

    }
}


/* background-color: $color-primary;
            
            padding: 10px;
            margin-left: 20px; */


            //1329 382